/* adds darkgreen to 2nd and third link */

a[class] {
    color:darkgreen
}

/* adds color to all links that contain the work "meta"*/

a[href*="meta"] {
    color:darkgreen
}

/* adds colors to specific links */

a[href="https://about.meta.com/"] {
    color:darkgreen
}